.center{
    padding-top: 100px;
    text-align: center;
}
.grid{
    display : grid;
    width: auto;
    height: auto;
    grid-template-columns: 200px 200px;
    justify-content: center;
}
.individual{
    text-align: center;
}