<!-- <p> Wheel here</p> -->

<div class = "container">
    <div class = "button" (click) ="spinWheel()"></div>
    <div class = "wheel">
        @for(option of basicList; let i = $index; track option){
            <!--  --back-color: {{colorPick()}}" -->
            <div class = "option" style = "--position: {{i+1}}; --back-color: {{colors[i]}}; --total-size: {{basicList.length}}" reload (init) = "recolorWheel()" ><span>{{i+1}}</span></div>
        }
    </div>
</div>
<div class = "winner">Hello</div>