<div id = "container">
    <!-- For annotation that creates a card for each number of items-->
        <div class = "card" style = " background-color:black;"></div>
        <div class = "card" style = "background-color:blue;"></div>
        <div class = "card" style = "background-color:red;"></div>
        <div class = "card" style = "background-color:yellow;"></div>
        <div class = "card" style = " background-color:black;"></div>
        <div class = "card" style = "background-color:blue;"></div>
        <div class = "card" style = "background-color:red;"></div>
        <div class = "card" style = "background-color:yellow;"></div>
        <div class = "card" style = " background-color:black;"></div>
        <div class = "card" style = "background-color:blue;"></div>
        <div class = "card" style = "background-color:red;"></div>
        <div class = "card" style = "background-color:yellow;"></div>
</div>