#container{
    position:relative;
    
    width: 800px;
    height: 400px;

    background:transparent;
    border: none !important;
    
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-gap: 25px 25px;
    text-align: center;
    padding-top: 7px;
    
}

.card{
    width: 100px;
    height: 150px;
    background-image: url("../../images/blue-28.jpg");
    background-size: 100px 150px;
    border-radius: 10px;
    cursor: pointer;

    /* border: solid yellow 10px; */
}
.unselected{
    border: none;
}
.selected{
    border: 10px solid yellow;
}
.removeUnselected{
    transition: transform 1s ease-in-out;
    transform:translateY(-100px);
}