.component{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* background-color: darkseagreen; */
    width: 300px;
    height:max-content;
}


.container{
    text-align: center;
    background-color:darkolivegreen;
    border: solid black 3px;
    width: 250px;
    height: 410px;
}

.center{
    vertical-align: middle;
}

.left{
    float: left;
}
