<!-- <p>options works!</p> -->
<div class = "container">
    @for(option of optionList; track option){
        <input class = "optionButton" type = "submit" value = "{{option}}" (click) = "chooseOption(option)" />
    }
</div>

<!--Change to a switch case at some point -->

@switch(currentOption){
    @case("Basic"){
        <app-basic-random [basicList] = "itemList"></app-basic-random>
    }
    @case("Wheel"){
        <app-wheel id = "wheel" class = "center" [basicList] = "itemList"></app-wheel>
    }
}

