<!-- <p>options works!</p> -->
<div class = "container">
    <div class = "center">
        @for(option of optionList; track option){
            <input class = "optionButton" type = "submit" value = "{{option}}" (click) = "chooseOption(option)" />
        }
    </div>
</div>

<!--Change to a switch case at some point -->

    @switch(currentOption){
        @case("Basic"){
            <app-basic-random [basicList] = "itemList"></app-basic-random>
            <br/>
            <p class = "description centered"> Basic sorting that picks a random option</p>
        }
        @case("Wheel"){
            <app-wheel id = "wheel" class = "centered" [basicList] = "itemList"></app-wheel>
            <br/>
            <p class = "description centered"> Sorting wheel that chooses a rotation rather than an option and lands on one of the choices</p>
        }@case("Box"){
            <app-box-shuffle id = "box" class = "centered" [basicList] = "itemList"></app-box-shuffle>
            <br/>
            <p class = "description centered">Box picks a new option every time its clicked. Randomize it as much as you want then select pick to get a winner</p>
        }@case("Card"){
            <app-cardpick id = "card" class = "centered" [basicList] = "itemList"></app-cardpick>
            <br/>
            <p class = "description centered">Pick a certain number of cards each round until only one card remains</p>
        }
    }


