<!-- <p>options works!</p> -->
<div class = "container">
    @for(option of optionList; track option){
        <input class = "optionButton" type = "submit" value = "{{option}}" (click) = "chooseOption(option)" />
    }
</div>

<!--Change to a switch case at some point -->

@switch(currentOption){
    @case("Basic"){
        <app-basic-random [basicList] = "itemList"></app-basic-random>
        <br/>
        <p class = "description center"> Basic sorting that picks a random option</p>
    }
    @case("Wheel"){
        <app-wheel id = "wheel" class = "center" [basicList] = "itemList"></app-wheel>
        <br/>
        <p class = "description center"> Sorting wheel that chooses a rotation rather than an option and lands on one of the choices</p>
    }@case("Box"){
        <app-box-shuffle id = "box" class = "center" [basicList] = "itemList"></app-box-shuffle>
        <br/>
        <p class = "description center">Box picks a new option every time its clicked. Randomize it as much as you want then select pick to get a winner</p>
    }
}

