.container{
    margin:auto;
    background-color:darkolivegreen;
    border: solid black 3px;
    width: 500px;
    height: 100px;
}

.optionButton{
    margin-right: 25px;
    background-color:darkseagreen;
}

.center{
    display: flex; 
    justify-content:center; 
}
/* because box-shadow goes beyond border by about 20px, give it 30px of space*/
#wheel{
    padding-top: 30px;
}